# List of used packages
cvxpy==1.2.0
imageio==2.9.0
matplotlib==3.3.4
numpy==1.24.4
opencv-python==4.10.0.84
pandas==2.0.3
progressbar2==3.55.0
pyopengl==3.1.7
pyqt5==5.15.11
scipy==1.10.1
seaborn==0.11.2
visvis==1.14.0
xlrd==2.0.1
xlsxwriter==3.0.1
